<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="fertilizer">
      <h2 data-cy="fertilizerDetailsHeading"><span jhiTranslate="jbdailyApp.fertilizer.detail.title">Fertilizer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fertilizer.id }}</span>
        </dd>
        <dt><span jhiTranslate="jbdailyApp.fertilizer.name">Name</span></dt>
        <dd>
          <span>{{ fertilizer.name }}</span>
        </dd>
        <dt><span jhiTranslate="jbdailyApp.fertilizer.bnName">Bn Name</span></dt>
        <dd>
          <span>{{ fertilizer.bnName }}</span>
        </dd>
        <dt><span jhiTranslate="jbdailyApp.fertilizer.accountNo">Account No</span></dt>
        <dd>
          <span>{{ fertilizer.accountNo }}</span>
        </dd>
        <dt><span jhiTranslate="jbdailyApp.fertilizer.accountTitle">Account Title</span></dt>
        <dd>
          <span>{{ fertilizer.accountTitle }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/fertilizer', fertilizer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
