<div>
  <h2 id="page-heading" data-cy="FertilizerHeading">
    <span jhiTranslate="jbdailyApp.fertilizer.home.title">Fertilizers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jbdailyApp.fertilizer.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fertilizer"
        [routerLink]="['/fertilizer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jbdailyApp.fertilizer.home.createLabel"> Create a new Fertilizer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fertilizers?.length === 0">
    <span jhiTranslate="jbdailyApp.fertilizer.home.notFound">No Fertilizers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="fertilizers && fertilizers.length > 0">
    <table class="table table-striped table-bordered table-sm" aria-describedby="page-heading">
      <thead class="table-primary">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="jbdailyApp.fertilizer.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bnName">
            <div class="d-flex">
              <span jhiTranslate="jbdailyApp.fertilizer.bnName">Bn Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountNo">
            <div class="d-flex">
              <span jhiTranslate="jbdailyApp.fertilizer.accountNo">Account No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountTitle">
            <div class="d-flex">
              <span jhiTranslate="jbdailyApp.fertilizer.accountTitle">Account Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fertilizer of fertilizers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fertilizer', fertilizer.id, 'view']" style="text-decoration: none">{{ fertilizer.id }}</a>
          </td>
          <td>{{ fertilizer.name }}</td>
          <td>{{ fertilizer.bnName }}</td>
          <td>{{ fertilizer.accountNo }}</td>
          <td>{{ fertilizer.accountTitle }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pay-order']"
                [queryParams]="{ 'filter[fertilizerId.in]': fertilizer.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('jbdailyApp.fertilizer.payOrder' | translate) }"
                  >Show Pay Order</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/fertilizer', fertilizer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fertilizer', fertilizer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fertilizer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fertilizers && fertilizers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
