<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="incPercentage">
      <h2 data-cy="incPercentageDetailsHeading"><span jhiTranslate="jbdailyApp.incPercentage.detail.title">Inc Percentage</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ incPercentage.id }}</span>
        </dd>
        <dt><span jhiTranslate="jbdailyApp.incPercentage.name">Name</span></dt>
        <dd>
          <span>{{ incPercentage.name }}</span>
        </dd>
        <dt><span jhiTranslate="jbdailyApp.incPercentage.createdBy">Created By</span></dt>
        <dd>
          <span>{{ incPercentage.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="jbdailyApp.incPercentage.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ incPercentage.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jbdailyApp.incPercentage.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ incPercentage.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="jbdailyApp.incPercentage.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
          <span>{{ incPercentage.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/inc-percentage', incPercentage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
