<div>
  <h2 id="page-heading" data-cy="UserSettingsHeading">
    <span jhiTranslate="jbdailyApp.userSettings.home.title">User Settings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jbdailyApp.userSettings.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-settings"
        [routerLink]="['/user-settings/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jbdailyApp.userSettings.home.createLabel"> Create a new User Settings </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userSettings?.length === 0">
    <span jhiTranslate="jbdailyApp.userSettings.home.notFound">No User Settings found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="userSettings && userSettings.length > 0">
    <table class="table table-striped table-bordered table-sm" aria-describedby="page-heading">
      <thead class="table-primary">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="jbdailyApp.userSettings.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="payOrderNumSeq">
            <div class="d-flex">
              <span jhiTranslate="jbdailyApp.userSettings.payOrderNumSeq">Pay Order Num Seq</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="payOrderControlNum">
            <div class="d-flex">
              <span jhiTranslate="jbdailyApp.userSettings.payOrderControlNum">Pay Order Control Num</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userSettings of userSettings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-settings', userSettings.id, 'view']" style="text-decoration: none">{{ userSettings.id }}</a>
          </td>
          <td>{{ userSettings.name }}</td>
          <td>{{ userSettings.payOrderNumSeq }}</td>
          <td>{{ userSettings.payOrderControlNum }}</td>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-settings', userSettings.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-settings', userSettings.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userSettings)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="userSettings && userSettings.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
