<p>pay-order-micr-component works!</p>

<div>
  <input type="button" value="Convert" (click)="printPdf()" />
</div>

<div id="reportDoc">
  <div id="page1" style="height: 791px">
    <div class="line1">
      <div class="left">/4468</div>
      <div class="right">/4468</div>
    </div>

    <div class="line2">
      <div class="date">16/10/2023</div>
    </div>

    <div class="line3">
      <div class="notOver">Not Over TK=750000/-Only</div>
      <div class="date">16/10/2023</div>
    </div>

    <div class="line4">
      <div class="left">
        <div class="name">আব্দুল লতিফ, <br />বোচাগঞ্জ</div>

        <div class="amount">=৭,৫০,০০০/-</div>

        <div class="account">JFCL - Urea</div>
      </div>
      <div class="center">
        <div class="account">DAP Fertilizer Co LTD</div>
        <div class="amountWords">এক লক্ষ তেয়াত্তর হাজার আট শত পঞ্চাশ টাকা মাত্র</div>
      </div>
      <div class="right">
        <div class="amount">=১,৭৩,৮৫০/-</div>
      </div>
    </div>
  </div>

  <div id="page2">
    <table>
      <tbody>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>আব্দুল হাকিম</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>জসীমউদ্দিন মণ্ডল</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
        <tr>
          <td>আর্মানিটোলা</td>
          <td>Roland Mendel</td>
          <td>Austria</td>
        </tr>
        <tr>
          <td>ভৃত্য</td>
          <td>Helen Bennett</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Laughing Bacchus Winecellars</td>
          <td>Yoshi Tannamuri</td>
          <td>Canada</td>
        </tr>
        <tr>
          <td>Magazzini Alimentari Riuniti</td>
          <td>Giovanni Rovelli</td>
          <td>Italy</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
